.card {
   border: 1px solid lightgrey;
   padding: 20px;
   width: 220px;
   border-radius: 30px;
   margin-bottom: 40px;
   transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
   display: flex;
   flex-direction: column;

   &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px);
      // cursor: pointer;
   }

   .plus {
      opacity: 0.6;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 1px solid lightgray;
      padding: 5px;
      border-radius: 10px;

      &:hover {
         background-color: lighten($color: lightgray, $amount: 10%);
      }
   }

   span {
      font-size: 12px;
      opacity: 0.8;
      text-transform: uppercase;
   }
   
   b {
      font-size: 14px;
   }

   h5 {
      font-weight: 400;
      font-size: 14px;
   }

   img {
      align-self: center;
   }

   .favorite {
      position: absolute;
      cursor: pointer;

      svg {
         fill: lightgrey;
         transition: fill 0.15s ease-in-out;

         &:hover {
            fill: gray;
         }
      }
   }
}